*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background:#000000;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #ff0c0c;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(10, 26, 255);
}

.detel{
    margin-left: 8%;
    margin-top: 15%;

}

.detel h1{
    font-size: 50px;
    color: #ff0a0a;
    margin-bottom: 20px;
}

span{
    color: orange;
}

.detel p{
    color: orange;
    line-height: 22px;
}
.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #ff1100;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.images{
    width: 45%;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50);
    -webkit-transform: translateX(-50);
    -moz-transform: translateX(-50);
    -ms-transform: translateX(-50);
    -o-transform: translateX(-50);
    transition: bottom 1s, left 1s;
    -webkit-transition: bottom 1s, left 1s;
    -moz-transition: bottom 1s, left 1s;
    -ms-transition: bottom 1s, left 1s;
    -o-transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .boy{
    left: 45%;
}

#ABOUT{
    display:flex;
    flex-direction:column;
    background-color:rgb(45 177 255);
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
}
.intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

    .intro h2{
        font-size: 2rem;
        margin-bottom: 20px;

    }


    #portfolio{
        display: flex;
        flex-direction: column;
        background-color: rgb(45 177 255);
        text-align: center;
        padding: 20px;

    }

    .headding{
        color:red;
    }

.gallery{
    display: flex;
    flex-wrap:wrap ;
    box-sizing: border-box;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
    transition: bottom 1s left 1s;
    -webkit-transition: bottom 1s left 1s;
    -moz-transition: bottom 1s left 1s;
    -ms-transition: bottom 1s left 1s;
    -o-transition: bottom 1s left 1s;

}

.gallery:hover.q {
    bottom: 40px;
}

#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color:rgb(45 177 255);
    text-align: center;
}

.row{
    display: flex;
}

.box{
    display: flex;
    flex-direction: column;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background: linear-gradient(to top, red 50%,orange 50%);
    background-size: 100% 200%;
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
}

.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px ;

}

#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #000000;
    color: white;
    padding: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;

}

#msg{   
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}

#send:hover{
    cursor: pointer;
    box-shadow: 0 0 50px red;
}